//color referced from interiorOnline.au
$color1:#333333;
$color2:#fafafa;
$color3:rgb(52, 52, 52);
$color4:#bbb;
$color5:#1f66b0;
$color6:#666666;
$color7:#666666;

//color palette
$paletteColor1: rgb(90, 89, 89);
$paletteColor2: rgb(51, 50, 50);
$paletteColor3: #495057;
$paletteColor4: #6c757d;
$paletteColor5: #adb5bd;

$plotFieldColor: #fafafa;
// $barColor: #080808;
$axisColor: #02195f;
$axisTextColor: #02195f;

